.text-s{
    font-size: 14px;
    font-weight: 300;
}

.text-m{
    font-size: 20px;
    font-weight: 600;
}

.text-l {
    font-size: 28px;
    font-weight: 600;
}

.yellow-text{
    color: #EBB94D;
}

.bold{
    font-weight: 600;
}
